#Basic packages
pytest
pylint
ipdb
jupyterlab

#Data Science packages
tensorflow==2.17.0
numpy
pandas
matplotlib
seaborn
scikit-learn
plotly
xgboost

#API-related packages
fastapi
uvicorn
tqdm
google-cloud-bigquery
google-cloud-storage==2.14.0
google-api-core==2.8.2
googleapis-common-protos==1.56.4
protobuf==4.25.4
h5py==3.10.0
db-dtypes==1.3.0
